/CountSteps.class
/IterativeFactorial.class
/IterativeFibonacci.class
/NtoOne.class
/NumOfzeroes.class
/OnetoN.class
/Palindrome.class
/ProductOfDigits.class
/RecursiveFactorial.class
/RecursiveFibonacci.class
/ReverseNum.class
/SumOfDigits.class
